body {
	background:white;
	font-family: arial;
}

h1 {
	color: #333;
	font-size: 60px;
	text-align: center;

}
p {
	color: #888;
	text-align: center;

}
div a{
	color: black;
	display: inline;
	list-style-type: none;
	padding: 5px;
}
nav ul{
	margin:40;
	padding:40;
	display: inline;
	text-align: center;
}
nav ul li{
	background: #888;
	color: white;
	font-family: helvetica;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	padding:30px;
	margin: 30px 180px 30px 130px;
}
nav ul li a {
	color:white;
	text-align: center;
}
h4 {
	text-align: center;
}
h5 {
	text-align: center;
}
form {
	font-family: helvetica
	padding: 50px;
	margin: 50px;
	text-align: center;

}
h2 {
	text-align: center;
	color: #888;
}
div.row {



}
div.container {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 600px;
    height: 360px;
}
div.container img {
	width: 100%;
	height:auto;
	padding: 50px;
}
